input {
  /* margin-right: 16px; */
  margin-left: 16px;
  text-align: center;
  min-width: 250px;
}

/* form {
  border: 1px solid red;
} */

.progress,
.progress-bar {
  min-width: 200px;
  min-height: 25px;
}
