<ng-container *ngIf="!!cardData && !!cardData.images">
  <div class="row vw-100">
    <div class="col-lg-3 align-middle d-flex justify-content-end">
      <button class="btn btn-primary" type="button" (click)="prev()"><-</button>
    </div>

    <div class="col-lg-6 mx-auto vw-100">
      <button
        type="button"
        class="position-absolute btn btn-outline-danger"
        (click)="onDeleteImageStorage($event, currentName)"
      >
        Delete
      </button>
      <img
        loading="lazy"
        class="card-img position-relative"
        src="{{ currentSrc }}"
        alt="{{ currentName }}"
        class="d-block w-100"
        width="150"
        height="150"
      />
    </div>

    <div class="col-lg-3 align-middle d-flex justify-content-start">
      <button class="btn btn-primary" type="button" (click)="next()">
        ->
      </button>
    </div>
  </div>
</ng-container>

<div class="row mt-5">
  <div class="col-sm-12 justify-content-around d-flex align-items-center">
    <form (ngSubmit)="onSubmit()" [formGroup]="businessCardForm">
      <div class="row">
        <div class="col-sm-12  justify-content-center d-flex">
          <h2>
            {{ (_auth.isAuthenticated | async) ? uid : "no user logged in" }}
          </h2>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-sm justify-content-center d-flex">
          <div class="form-group">
            <img
              src="assets/iconmonstr-phone-3.svg"
              alt="business phone number"
              width="64"
              height="64"
              loading="lazy"
            />

            <input
              type="tel"
              name="phone"
              formControlName="phone"
              placeholder="phone"
              required
            />
          </div>
        </div>
        <div class="col-sm justify-content-center d-flex">
          <div class="form-group">
            <img
              src="assets/iconmonstr-globe-5.svg"
              alt="website"
              width="64"
              height="64"
              loading="lazy"
            />
            <input
              type="url"
              name="website"
              formControlName="website"
              placeholder="website"
              required
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm justify-content-center d-flex">
          <div class="form-group">
            <img
              src="assets/iconmonstr-youtube-3.svg"
              alt="youtube"
              width="64"
              height="64"
              loading="lazy"
            />
            <input
              type="url"
              name="youtube"
              formControlName="youtube"
              placeholder="youtube"
              required
            />
          </div>
        </div>
        <div class="col-sm justify-content-center d-flex">
          <div class="form-group">
            <img
              src="assets/iconmonstr-facebook-6.svg"
              alt="facebook"
              width="64"
              height="64"
              loading="lazy"
            />

            <input
              type="url"
              name="facebook"
              formControlName="facebook"
              placeholder="facebook"
              required
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm justify-content-center d-flex">
          <div class="form-group">
            <img
              src="assets/iconmonstr-twitter-3.svg"
              alt="twitter"
              width="64"
              height="64"
              loading="lazy"
            />
            <input
              type="url"
              name="twitter"
              formControlName="twitter"
              placeholder="twitter"
              required
            />
          </div>
        </div>
        <div class="col-sm justify-content-center d-flex">
          <div class="form-group">
            <img
              src="assets/iconmonstr-instagram-11.svg"
              alt="instagram"
              width="64"
              height="64"
              loading="lazy"
            />
            <input
              type="url"
              name="instagram"
              formControlName="instagram"
              placeholder="instagram"
              required
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm justify-content-center d-flex">
          <div class="form-group">
            <img
              src="assets/iconmonstr-fax-9.svg"
              alt="fax"
              width="64"
              height="64"
              loading="lazy"
            />
            <input
              type="url"
              name="fax"
              formControlName="fax"
              placeholder="fax"
              required
            />
          </div>
        </div>
        <div class="col-sm justify-content-center d-flex">
          <div class="form-group">
            <img
              src="assets/iconmonstr-email-2.svg"
              alt="email"
              width="64"
              height="64"
              loading="lazy"
            />

            <input
              class="forn-control"
              type="email"
              name="email"
              formControlName="email"
              placeholder="business email address"
              required
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm justify-content-center d-flex">
          <div class="form-group">
            <img
              src="{{ _auth.qrcode }}"
              alt="qrcode"
              width="150"
              height="150"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div
        class="col-sm-12 justify-content-center d-flex align-items-center m-5"
      >
        <input
          type="file"
          name="upload"
          id="upload"
          accept=".png, .jpeg, .jpg"
          multiple
          max="5"
          formControlName="images"
          (change)="onChangeFiles($event)"
        />
      </div>

      <div class="col-sm-12 justify-content-center d-flex">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="!businessCardForm.valid"
        >
          Save
        </button>
      </div>
    </form>
  </div>

  <!-- images -->
  <div class="mt-5">
    <div class="col-lg-6 offset-lg-3">
      <ul>
        <li
          class="col-sm col-sm d-flex justify-content-between"
          *ngFor="let ref of _storage.ref; index as i"
          id="{{ i }}"
        >
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped bg-success"
              role="progressbar"
              [style.width]="(_storage.uploadProgress[i] | async) + '%'"
              aria-valuenow="(_storage.uploadProgress[i] | async)"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              {{ _storage.uploadProgress[i] | async }}
            </div>
          </div>

          <div>{{ _storage.uploadState[i] }}</div>

          <div>
            <a href="{{ cardData.images.urls[i] | async }}" target="_blank"
              ><img
                alt="{{ cardData.images.names[i] }}"
                src="{{ cardData.images.urls[i] }}"
                width="64"
                height="64"
                loading="lazy"
            /></a>
          </div>

          <button
            type="button"
            (click)="_storage.deleteFile($event, cardData.images.names[i])"
            class="btn btn-danger"
          >
            X
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
