<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    Navbar
    <img
      [src]="_auth.qrcode"
      *ngIf="_auth.isAuthenticated | async"
      width="32"
      height="32"
      id="qrcodeIcon"
      loading="lazy"
    />
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="menu()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    [ngClass]="{ show: menuOpen }"
  >
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="!(_auth.isAuthenticated | async)"
      >
        <a class="nav-link" routerLink="/auth" (click)="menuOpen = false"
          >Home</a
        >
      </li>

      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="_auth.isAuthenticated | async"
        (click)="menuOpen = false"
      >
        <a class="nav-link" routerLink="/business-card">Business Card</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="_auth.isAuthenticated | async">
      <li
        class="nav-item dropdown dropleft"
        style="border: solid 1.5px maroon; border-radius: 15px; font-weight: bold;"
      >
        <a role="button" class="nav-link" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
