<!-- <p>login-register works!</p> -->
<p-toast position="center"></p-toast>

<div class="row">
  <div class="col-sm-12 justify-content-center d-flex align-items-center">
    <h2>User {{ !authMode ? "Sign In" : "Sign Up" }} Page</h2>
  </div>
</div>

<div class="row vh-100 vw-100">
  <div
    class="col-sm-12 justify-content-center d-flex align-items-center vw-100"
  >
    <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
      <div class="row m-3 shadow-lg">
        <div class="col-sm-12 justify-content-center d-flex">
          <div class="form-group">
            <img
              src="assets/iconmonstr-email-2.svg"
              alt="email"
              width="64"
              height="64"
              loading="lazy"
            />

            <input
              class="forn-control"
              type="email"
              name="email"
              formControlName="email"
              placeholder="email address"
              required
            />
          </div>
        </div>

        <div class="col-sm-12 justify-content-center d-flex">
          <div class="form-group">
            <img
              src="assets/iconmonstr-password-10.svg"
              alt="password"
              width="64"
              height="64"
              loading="lazy"
            />

            <input
              type="password"
              name="password"
              formControlName="password"
              placeholder="password"
              required
            />
          </div>
        </div>
      </div>

      <div class="col-sm-12 justify-content-center d-flex">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="!authForm.valid"
        >
          {{ authMode ? "Register" : "Login" }}
        </button>
      </div>
      <div class="col-sm-12 justify-content-center d-flex">
        <button
          type="button"
          class="btn btn-warning btn-block"
          (click)="changeAuthMode()"
        >
          Switch to {{ authMode ? "Login" : "Register" }}
        </button>
      </div>
    </form>
  </div>
</div>
