input {
  /* margin-right: 16px; */
  margin-left: 16px;
  text-align: center;
}

button:disabled {
  background-color: lightgray;
  font-weight: bold;
  box-shadow: 2px 2px 5px;
  color: black;
}

input.ng-invalid.ng-touched {
  border-bottom: 2px solid red;
  border-right: 2px solid red;
}
